---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Menu from "../components/Menu.astro";
import Document from "../components/Document.astro";
---

<Layout title="Study by words">
  <Header />
  <main>
    <Menu />
	<Document></Document>
  </main>
</Layout>

