---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Menu from "../components/Menu.astro";
---

<Layout title="Study by words">
  <Header />
  <main>
    <Menu />
  </main>
</Layout>

