---
import Thumbnail from "./Thumbnail.astro";
---

<section>
  <Thumbnail href="" title="Java" />
  <Thumbnail href="" title="Maybe very long word ? what will you do?" />
</section>

<style>
  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    filter: blur(1.3px);
  }

</style>
