---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="public/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div id="container">
			<slot />
		</div>
		
	</body>
</html>
<style is:global>
	:root {
		--white: rgba(255, 253, 253, 0.836);
	}
	html {
		font-family: Arial, Helvetica, sans-serif;
		background: var(--white);
		
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	#container {
		width: calc(100% - 2em);
	}
</style>
